.dashboard-container {
    height: 100vh;
    position: relative;
}

.in-menu {
    background-color: rgba(0, 0, 0, 0.393);
}

.background-blur {
    background-color: rgba(0, 0, 0, 0.393);
}

.dashboard-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    transition: opacity 0.3s ease; 
}

.menu-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30vw; 
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    z-index: 100; 
    transform: translateX(100%); 
    transition: transform 0.3s ease;
}

.in-menu .menu-container {
    transform: translateX(0); 
}

.in-menu .dashboard-contents {
    opacity: 0.5;
}

.background-blur .grid-container {
    z-index: 10;
    background-color:#ffffff;
}